<%- include('../partials/header') %>

<h1>Travelist</h1>
<h6>The ultimate bucket list for digital nomads</h6>
<div class="grid">
    <% destinations.forEach(d => { %>
    <a class="grid-link" href="/destinations/<%= d._id %>">
        <div class="grid-item">
            <img src="<%= d.photo %>">
            <h5 class="grid-title"><%= d.city %>, <%= d.country %></h5>
        </div>
    </a>
    <% }) %>
    <a class="grid-link" href="/destinations/new">
        <div class="grid-item">
            <h3>+</h3>
            <h5>Add Destination</h5>
        </div>
    </a>
</div>

<%- include('../partials/footer') %>
