<%- include('../partials/header') %>

<h1>Travelist</h1>
<h6>The ultimate bucket list for digital nomads</h6>
<div class="grid">
    <% destinations.forEach(d => { %>
        <div class="grid-item">
            <img src="<%= d.photo %>">
            <h5 class="grid-title"><%= d.city %>, <%= d.country %></h5>
        </div>
    <% }) %>
    <div class="grid-item">
        <h5><a href="/destinations/new">Add Destination</a></h5>
    </div>
</div>

<%- include('../partials/footer') %>
