<%- include('../partials/header') %>

<h1><%= sight.name %></h1>
<h4><%= destination.city %>, <%= destination.country %></h4>

<div class="sight-grid">
    <div class="sight-grid-item">
        <img src="<%= sight.photo %>">
        <p class="sight-grid-text"><%= sight.description %></p>
        <% if (user && user._id.equals(sight.userRecommending)) { %>
            <a class="grid-link" href="/destinations/<%= destination._id %>/sights/<%= sight._id %>/edit">
                <h5 class="sight-grid-text">Edit Sight</h5>
            </a>
            <% } %>
    </div>
    <div class="sight-grid-item">
        <% sight.comments.forEach(c => { %>
            <p class="sight-comment"><%= c.content %></p>
        <% }) %>
        <% if (user) { %>
            <form action="/destinations/<%= destination._id %>/sights/<%= sight._id %>/comments" method="POST">
                <textarea name="content" class="form-control" class="sight-comment" rows="2" placeholder="Enter new comment"></textarea>
                <button type="submit" class="btn btn-primary">Add Comment</button>
            </form>
        <% } %>
    </div>
</div>

<%- include('../partials/footer') %>