<%- include('../partials/header') %>

<h1><%= sight.name %></h1>
<h4><%= destination.city %>, <%= destination.country %></h4>

<div class="sight-grid">
    <div class="sight-grid-item">
        <img src="<%= sight.photo %>">
        <p class="sight-grid-text"><%= sight.description %></p>
        <% if (user && user._id.equals(sight.userRecommending)) { %>
            <a class="grid-link" href="/destinations/<%= destination._id %>/sights/<%= sight._id %>/edit">
                <button class="btn btn-primary">Edit Sight</button>
            </a>
            <% } %>
    </div>
    <div class="sight-grid-item">
        <h4 class="comments-title">Comments</h4>
        <% sight.comments.forEach(c => { %>
            <div class="sight-comment">
                <div class="sight-comment-header">
                    <div class="comment-user"><img alt="avatar" src="<%= c.userAvatar %>" referrerpolicy="no-referrer" > <%= c.userName %></div>
                    <div><%= c.createdAt.toLocaleDateString() %></div>
                </div>
                <p><%= c.content %></p>
            </div>
        <% }) %>
        <% if (user) { %>
            <form action="/destinations/<%= destination._id %>/sights/<%= sight._id %>/comments" method="POST">
                <br>
                <textarea name="content" class="form-control" class="sight-comment" rows="2" placeholder="Enter new comment"></textarea>
                <br>
                <button type="submit" class="btn btn-primary">Add Comment</button>
            </form>
        <% } %>
    </div>
</div>

<%- include('../partials/footer') %>